html, body
{
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
    user-select: none;
    color: #111;
}

body
{
	background-color: #303030;
}

#app
{
	width: 100%;
	height: 100%;
}